body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.chat-list {
    background-color: #181818;
    width: 20vw;
}

.messanger-window {
    background-color: #1f1f1f;
    width: 80vw;
}